// Start Footer Email
.email-page {
  border-bottom: 2px solid $green-color;
  .text {
    .title {
      color: $green-color;
      font-weight: bold;
      font-size: 25px;
    }
    .content-text {
      color: $grey-color-dark;
      font-weight: bold;
      line-height: 1.7;
      font-size: 18px;
    }
  }
  input[type="email"] {
    box-shadow: 0 0 15px 0 $light-grey-color;
    border-radius: 50px;
    padding: 12px 15px;
    border: 1px solid $light-grey-color;
    outline: none;
}
.sub {
  background-color: $green-color;
  border-radius: 50px;
  color: $light-color;
  padding: 12px 2rem;
  border: 1px solid $green-color;
  outline: none;
}
}
// End Footer Email

// Start Main-Footer
.main-footer {
  background-color: $green-color;
  color: $light-color;
  padding: 2rem 0;
  a {
    color: $light-color;
  }
  .logo {
    width: 190px;
}
.logo-sm {
  width: 110px;
  & > img {
    width: 100%;
    height: auto;
  }
}
.social {
  .item {
    padding: 9px 15px;
    cursor: pointer;
    color: $light-color;
    font-size: 20px;
    transition: 300ms;
    border: 1px solid transparent;
    border-radius: 5px;
    &:hover {
      box-shadow: 0 0 8px 0 #0000006b;
      border: 1px solid #005e5214;
  }
}
}
}
// End Main-Footer