// Use Var
@import "./sass/helpers/var";
// Use Mixins
@import "./sass/helpers/mixins";
// Use Global Global Page
@import "./sass/pages/globalPage";
// Use Header
@import "./sass/layout/header";
// Use Home Page
@import "./sass/pages/homePage";
// Use Buttns and dropdowns
@import "./sass/components/dropdowns-and-buttons";
// Use headings
@import "./sass/components/headings";
// Use boxes
@import "./sass/components/boxes";
// Use Helpers
@import "./sass/components/helpers-classes";
// Use Forms
@import "./sass/components/forms";
// Use Footer
@import "./sass/layout/footer";
