// boxes-service
.boxes-service {
  .title-service {
    text-align: center;
    color: $green-color;
    font-size: 22px;
    padding-left: 2.5rem;
    position: relative;
    font-weight: bold;
    &::before {
      content: "";
      background-color: $green-color;
      position: absolute;
      width: 1px;
      height: 70%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    @include maxWidth(lg) {
      padding-left: 0;
      padding-top: 3rem;
      padding-bottom: 1rem;
      margin-bottom: 0.5rem;
      &::before {
        content: "";
        background-color: $green-color;
        position: absolute;
        width: 70%;
        height: 1px;
        left: 50%;
        top: unset;
        bottom: 0;
        transform: translatex(-50%);
      }
    }
  }
  .items-service {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    @include maxWidth(md) {
      grid-template-columns: repeat(2, 1fr);
    }
    .item {
      text-align: center;
      transition: 300ms;
      border: 1px solid transparent;
      padding: 3rem 0;
      &.active,
      &:hover {
        box-shadow: 20px 20px 28px 0 #005e5230;
        border: 1px solid #005e5214;
        .btn {
          visibility: visible !important;
        }
      }
      img {
        width: auto;
        height: 60px;
      }
      p {
        font-size: 18px;
        color: #728098;
        font-weight: bold;
        transition: 300ms;
        margin: 0;
        margin-top: 10px;
      }
      .btn {
        visibility: hidden;
      }
    }
  }
}

// Bg Brand
.bg-brand {
  background-image: url(../img/global/brand-bg-white.svg);
  background-size: 886px;
  background-repeat: no-repeat;
  background-position: -90px 20px;
}

// boxes-info-order
.boxes-info-order {
  .box-info {
    background-color: $smoke-color;
    box-shadow: 0 0 3px $light-grey-color;
    min-height: 100%;
    transition: $transition;
    border-radius: 25px;
    padding: 2rem 3rem;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    &:hover {
      background-color: $light-color;
      box-shadow: 0 0 17px rgb(0 0 0 / 5%);
      transform: scale(1.05);
      z-index: 4;
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
    }
    .btn-icon {
      gap: 1.5rem;
      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
      .icon {
        width: 48px;
        height: 48px;
        font-size: 20px;
        // box-shadow: 0px 0px 25px 0 #00968221;
      }
    }
  }
}

// header-content-box
.header-content-box {
  box-shadow: -20px 6px 30px 0 #02141117;
  padding: 2rem 0;
  .title {
    font-weight: bold;
    font-size: 18px;
    color: $green-color;
  }
}
// box-order
.boxes-order {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .box-order {
    border-radius: 30px;
    background-color: $light-color;
    position: relative;
    display: flex;
    padding: 20px;
    gap: 20px;
    border: 4px solid $border-color;
    @include maxWidth(lg) {
      flex-direction: column;
    }
    .info {
      text-align: center;
      color: $dark-color;
      font-size: 15px;
      min-width: 150px;
      font-weight: 600;
      .photo {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        object-fit: cover;
        margin-bottom: 0.5rem;
      }
    }
    .content {
      flex: 1;
      .header-box {
        display: flex;
        align-items: center;
        font-size: 14px;
        flex-wrap: wrap;
        font-weight: bold;
        color: $green-color;
        gap: 1rem;
        row-gap: 0.7rem;
      }
      .title-order {
        font-weight: bold;
        color: $blue-color-2;
        margin-bottom: 0.7rem;
      }
      .content-order {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 0;
        font-weight: normal;
        color: $dark-color;
      }
      .files {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        margin: 0.5rem 0 1rem 0;
      }
    }
    .hr {
      width: 100%;
      background-color: $light-green-color-2;
      height: 7px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }
    .footer-box {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 10px;
    }
  }
  // boxes-show
  &.boxes-show {
    .box-order {
      position: relative;
      .btn-star {
        position: absolute;
        z-index: 5;
        left: 15px;
        top: 10px;
        font-size: 20px;
        background-color: transparent;
        border: none !important;
        outline: none !important;
        cursor: pointer;
        i,
        svg {
          color: grey;
          &.active {
            color: $gold-color;
          }
        }
      }
      .info {
        .photo {
          width: 54px;
          height: 54px;
        }
        .name {
          font-size: 16px;
          margin-bottom: 7px;
          font-weight: bold;
          color: $green-color;
        }
        .badge-info {
          min-width: 150px;
          padding: 5px 7px;
          font-size: 13px;
          font-weight: normal;
        }
      }
    }
  }
}

// box tickets
.box-tickets {
  .ticket {
    background-color: white;
    display: flex;
    padding: 11px 20px;
    align-items: center;
    border: 4px solid #eeeeeecf;
    border-radius: 25px;
    @include maxWidth(lg) {
      flex-direction: column;
    }
    .date {
      display: flex;
      align-items: center;
      padding: 15px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0px;
      margin-left: 10px;
      position: relative;
      white-space: nowrap;
      color: #009080;
      @include minWidth(xl) {
        display: flex;
        align-items: center;
        padding: 14.1px 0 14.1px 14.1px;
        font-size: 13px;
        letter-spacing: 0px;
        font-weight: bold;
        justify-content: center;
        width: 10%;
        position: relative;
        color: #009080;
      }
      &::before {
        content: "";
        position: absolute;
        background-color: #f2fdf9;
        height: 100%;
        width: 4px;
        left: -14px;
        border-radius: 50px;
        top: 0;
        @include maxWidth(lg) {
          height: 4px;
          width: 100%;
          left: 0;
          top: 100%;
        }
      }
      i,
      svg {
        margin: 0 7px;
      }
    }
    .text {
      margin: 0 14.1px 0 0;
      font-size: 14px;
      color: #666;
      @include minWidth(xl) {
        width: 65%;
      }
      @include maxWidth(lg) {
        margin: 30px 0 70px 0;
      }
    }
  }
}

.uploade-app {
  width: 100%;
  .uploade-box-msg {
    display: flex;
    align-items: censter;
    gap: 10px;
    position: relative;
    padding: 14px 21px;
    background-color: #f0f0f0;
    .inp-uploade {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      right: 0;
      cursor: pointer;
      bottom: 0;
    }
    .uploade-media {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #e0e0e0;
      color: #bababa;
      border-radius: 3px;
      svg {
        font-size: 20px;
      }
    }
    .uploade-title {
      margin-bottom: 10px;
      font-size: 18px;
    }
    .uploade-p {
      color: #777;
      font-size: 14px;
    }
  }
  .uploade-preview-file {
    padding:10px;
    border-radius: 4px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    .info-file {
      display: flex;
      margin-bottom: 7px;
      gap: 10px;
      .view-img {
        width: 75px;
        height: 75px;
        object-fit: cover;
    }
    .info-text .icon-check {
      color: #2e8b5c;
      font-size: 13px;
  }
  .info-text .name-file {
    font-size: 15px;
}
.info-text .size-file {
  color: #777;
  font-size: 11px;
}
  }
  .progress {
    width: 100% !important;
    }
    .progress {
      height: 8px !important;
      border-radius: 0 !important;
  }
  }
}
