//main-btn
.main-btn {
  text-align: center;
  outline: none;
  border: none;
  color: $light-color;
  background-color: $green-color;
  border-radius: 0.25rem;
  display: inline-block;
  padding: 0.4rem 0.75rem;
  &:hover {
    color: $light-color;
  }
  &.btn-grey {
    background-color: $grey-color;
  }
}

//btn-srl-bottom
.srl-bottom {
  background-color: #00acf0;
  position: absolute;
  right: 50px;
  z-index: 1000;
  bottom: 80px;
  padding: 65px 15px 15px;
  transition: $transition;
  cursor: pointer;
  color: $light-color;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  @include maxWidth(lg) {
    display: none;
  }
}

// Btn Card Sm
.btn-card-sm {
  font-size: 13px;
  color: $grey-color-dark;
  transition: $transition;
  border-radius: 50px;
  padding: 3px 10px;
  margin-top: 1rem;
  background-color: $light-green-color;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
}

// Btn More
.btn-more {
  background: $light-color;
  color: $grey-color-dark;
  font-weight: bold;
  border-radius: 50px;
  display: flex;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  width: fit-content;
  align-items: center;
  margin-top: 1.5rem;
  font-size: 14px;
  justify-content: center;
  img,
  svg,
  i {
    font-size: 14px;
    width: 13px;
    margin-left: 5px;
  }
}
.btn-more-lg {
  width: fit-content;
  padding: 5px 16px;
  background-color: $light-green-color-2;
  color: $green-color;
  border-radius: 50px;
  font-size: 13px;
  display: inline-block;
  font-weight: 300;
  text-decoration: none !important;
  &.btn-green {
    background-color: $green-color;
    color: $light-color;
    &:hover {
      color: $light-color;
    } 
  }
  &:hover {
    color: $green-color;
  }
}

// btn-icon-cr
.btn-icon-cr {
  background-color: $light-color;
  padding: 0.35rem 1.5rem;
  border-radius: 50px;
  white-space: nowrap;
  position: relative;
  outline: none;
  font-weight: bold;
  color: $text-color-dark;
  border: none;
  gap: 7px;
  box-shadow: 0px 4px 11px 0 rgb(0 0 0 / 5%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 50%;
    background-color: $light-green-color;
    width: 30px;
    font-size: 14px;
    color: $green-color;
    &.icon-red {
      background-color: $red-color;
      color: white;
    }
    img {
      width: 14px;
    }
  }
  input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}

// btn-icon
.btn-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: $transition;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  .icon {
    background-color: $light-color;
    color: $green-color;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(0, 0, 0, 0.066);
    font-size: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    img,
    svg {
      width: 20px;
    }
  }
}

// btn-slide
.btn-slide {
    color: $text-color-dark;
    border-radius: 10px;
    padding: 22px 17px;
    background-color: $light-color;
    transition:$transition ;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    -webkit-transition:$transition ;
    -moz-transition:$transition ;
    -ms-transition:$transition ;
    -o-transition:$transition ;
}

// btn-border 
.btn-border {
  color: $text-color-dark;
    background-color: white;
    border: 1px solid $text-color-dark;
    font-size: 14px;
    padding:5px 16px;
    &.btn-sm {
      font-size: 13px;
    padding: 2px 5px;
    }
}

.btn-xs-red {
  color: #fff;
  background-color: #e75737;
  border-color: #e54c29;
  padding: 1px 5px;
  display: flex;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  align-items: center;
  gap: 2px;
}