// padding
.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
// gap
.row-gap-24 {
    row-gap: 24px ;
}
// text colors
.main-color {
  color: $green-color;
}
.text-color-dark {
  color:$text-color-dark;
}
.grey-color-dark {
  color:$grey-color-dark;
}
.main-color {
  color: $green-color;
}
.grey-color {
  color:$grey-color;
}
.light-grey-color {
  color: $light-grey-color;
}
.red-color {
  color: $red-color;
}



// Font Size
.text-fs-1 {
font-size: 14px;
}
.text-fs-2 {
font-size: 16px;
}
.text-fs-3 {
font-size: 18px;
}
.text-fs-4 {
font-size: 20px;
}
.text-fs-5 {
font-size: 25px;
}
.text-fs-6 {
font-size: 30px;
}

// Btns color
.btn-red {
  background-color: $red-color;
  color: white;
  &:hover {
    color: white;
    background-color: $red-color-hover;
  }
}
.btn-green {
  background-color: $green-color;
  color: white;
  &:hover {
    color: white;
  }
}
.btn-gradient-blue {
  background: -webkit-linear-gradient( 90deg,$blue-color, $light-blue-color );
  background: linear-gradient(90deg, $blue-color,  $light-blue-color);
  color: white ;
  &:hover {
    color: white;
  }
}
