//colors
$light-color:white;
$dark-color:black;
$section-color:#f2fdf9 ;
$light-grey-color: #ddd;
$grey-color-dark: #728098;
$border-color: #eeeeeecf;
$grey-color: #a9a9a9;
$green-color: #009080;
$green-color-op:  #00908052;
$light-green-color: #e5fcf0;
$light-green-color-2: #def1ef;
$blue-color: #00ACF0;
$blue-color-2: #0491e8;
$dark-blue-color: #005B8E;
$light-blue-color: rgb(128, 205, 255);
$light-red-color: #ff584d;
$red-color: #ff3e3e ;
$red-color-hover:#ee2a2a;
$text-color-dark:#777;
$smoke-color:#fdfffe;
$gold-color: #ffbe26;
//transition
$transition: 300ms;

// Shadow
$shadow-green:15px 15px 20px 0 #00968314;
